<section class="menu" id="topScrollAnchor">
  <div class="container m-auto flex justify-center">
    <nav [class]="{ sticky: isSticky, nonSticky: !isSticky }">
      <button
        mat-button
        class="mr-10 buttonMenu"
        (click)="[scrollTo('about-me'), setActiveButton('about-me')]"
        [class.active]="activeButton === 'about-me'"
        data-section="about-me"
      >
        Home
      </button>

      <button
        mat-button
        class="mr-10 buttonMenu"
        (click)="[scrollTo('experiences'), setActiveButton('Experiences')]"
        [class.active]="activeButton === 'Experiences'"
        data-section="experiences"
      >
        Experiences
      </button>

      <button
        mat-button
        class="mr-10 buttonMenu"
        (click)="[scrollTo('site-projects'), setActiveButton('Site Projects')]"
        [class.active]="activeButton === 'Site Projects'"
        data-section="site-projects"
      >
        Site Project
      </button>

      <button
        mat-button
        class="mr-10 buttonMenu"
        (click)="[scrollTo('contact'), setActiveButton('Contact')]"
        [class.active]="activeButton === 'Contact'"
        data-section="contact"
      >
        Contact
      </button>

      <span>
        <button
          mat-icon-button
          color="warn"
          [matMenuTriggerFor]="menu"
          class="iconMenuMobile"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </span>

      <mat-menu #menu="matMenu" class="block">
        <button
          mat-menu
          class="m-0 w-full text-left buttonMenuMobile"
          (click)="[scrollTo('about-me'), setActiveButton('about-me')]"
          [class.active]="activeButton === 'about-me'"
          data-section="about-me"
        >
          Home
        </button>

        <button
          mat-button
          class="m-0 w-full text-left buttonMenuMobile"
          (click)="[scrollTo('experiences'), setActiveButton('Experiences')]"
          [class.active]="activeButton === 'Experiences'"
          data-section="experiences"
        >
          Experiences
        </button>

        <button
          mat-menu
          class="m-0 w-full text-left buttonMenuMobile"
          (click)="
            [scrollTo('site-projects'), setActiveButton('Site Projects')]
          "
          [class.active]="activeButton === 'Site Projects'"
          data-section="site-projects"
        >
          Site Project
        </button>

        <button
          mat-menu
          class="m-0 w-full text-left buttonMenuMobile"
          (click)="[scrollTo('contact'), setActiveButton('Contact')]"
          [class.active]="activeButton === 'Contact'"
          data-section="contact"
        >
          Contact
        </button>
      </mat-menu>
    </nav>
  </div>
</section>
