@import '../../../app.component.scss';

.menu {
  width: 100%;
  z-index: 9;
  animation-duration: 2s;
  animation-name: show-portfolio;
  animation-timing-function: linear;

  @keyframes show-portfolio {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  nav {
    position: relative;
    padding: 20px;
    padding-right: 12%;

    .buttonMenu {
      color: $blueColor !important;
      font-size: 18px;
      font-weight: 500;

      &:hover {
        color: $primaryColor !important;
        background-color: transparent !important;
      }

      &.active {
        color: $primaryColor !important;
      }

      @media (max-width: 630px) {
        display: none;
      }
    }
  }
  nav.sticky {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: $white;
    left: 0;
    padding-right: 14%;
    animation: sticky-menu 1s ease-in-out;

    @keyframes sticky-menu {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  nav.nonSticky {
    animation: nonSticky-menu 0.5s ease-in-out;
    animation-timing-function: linear;

    @keyframes nonSticky-menu {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-5%);
      }
    }
  }
}

.iconMenuMobile {
  display: none;
  color: $primaryColor;

  @media (max-width: 630px) {
    display: block;
  }
}

.buttonMenuMobile {
  color: $blueColor !important;
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-left: 10px;
  padding: 10px;

  &:hover {
    color: $primaryColor !important;
  }
}
