<section id="experiences" class="experience-container">
  <div
    class="container m-auto flex justify-center experience-wrapper"
    [@scrollAnimation]="isVisible"
  >
    <div class="experience-introduction">
      <div class="experience-introduction-text">
        <h2>Experience</h2>
        <span>This is my own experience</span>
      </div>
      <div class="experience-introduction-swiper-button">
        <span class="experience-swiper-button-prev" (click)="prev()">
          <fa-icon [icon]="faArrowLeft" class="experience-icon"></fa-icon>
        </span>
        <span class="experience-swiper-button-next" (click)="next()">
          <fa-icon [icon]="faArrowRight" class="experience-icon"></fa-icon>
        </span>
      </div>
    </div>

    <ngx-slick-carousel
      class="carousel experience-slide"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div
        ngxSlickItem
        class="experience-swiper-wrapper slide"
        *ngFor="let experience of experiences"
      >
        <div class="experience-swiper-slide">
          <div class="experience-swiper-item">
            <span class="{{ experience.color }}">
              <fa-icon
                [icon]="experience.icon"
                class="experience-icon"
              ></fa-icon>
            </span>
            <h3>{{ experience.name }}</h3>
            <p class="experience">{{ experience.years }} years</p>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
