@import '../../../app.component.scss';

.experience-container {
  padding: 70px 0;

  .experience-wrapper {
    box-sizing: border-box;
    padding: 0 60px;

    @media (max-width: 1024px) {
      padding: 0 10px;
      display: block;
    }

    .experience-introduction {
      align-self: center;
      width: 20%;

      @media (max-width: 1024px) {
        width: 100%;
        padding-bottom: 1rem;
      }

      .experience-introduction-text {
        text-align: left;
        @media (max-width: 1024px) {
          text-align: center;
        }

        h2 {
          font-weight: 500;
          font-size: 22px;
          line-height: 1.5;
          color: $primaryColor;

          @media (max-width: 635px) {
            font-size: 18px;
          }
        }

        span {
          font-weight: 700;
          font-size: 30px;
          line-height: 1.5;
          text-transform: capitalize;
          color: $blueColor;

          @media (max-width: 635px) {
            font-size: 25px;
          }
        }
      }

      .experience-introduction-swiper-button {
        padding-top: 40px;
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: 1024px) {
          justify-content: center;
          padding: 20px;
        }

        span {
          width: 50px;
          height: 50px;
          background: $primaryColor;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease;
          cursor: pointer;

          .experience-icon {
            color: $white;

            .svg-inline--fa {
              height: 2.5em !important;
            }
          }

          &:nth-child(1){
            background: $white;
            border: 1px solid $primaryColor;
            &:hover {
              background: $primaryColor;
              scale: 1.1;
              .experience-icon{
                color: $white;
              }
            }

            .experience-icon{
              color: $primaryColor;
            }
          }

          &:nth-child(2){
            background: $primaryColor;
            &:hover {
              scale: 1.1;
            }

            .experience-icon{
              color: $white;
            }
          }
        }
      }
    }

    .experience-slide {
      max-width: 100%;
      width: 75%;

      @media (max-width: 1024px) {
        width: 90%;
      }

      .experience-swiper-wrapper {
        cursor: grab;
        box-sizing: content-box;
        text-align: center;
        display: flex;
        justify-content: center;
        user-select: none; 
        
        .experience-swiper-slide {
          width: 400px;
          margin: 0;

          .experience-swiper-item {
            box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
            padding: 35px 25px;
            border-radius: 30px;
            margin: 10px;
            background-color: $white;
            text-align: center;
            height: 300px;

            @media (max-width: 635px) {
               height: 220px;
               padding: 35px 10px;
            }

            span {
              color: #fff;
              border-radius: 50%;
              width: 80px;
              height: 80px;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;

              @media (max-width: 635px) {
                width: 50px;
                height: 50px;
              }

              .experience-icon {
                width: 60px;
                height: auto;
                font-size: 30px;

                @media (max-width: 635px) {
                  font-size: 20px;
                }
              }
            }

            h3 {
              font-weight: 500;
              font-size: 24px;
              line-height: 31px;
              color: $blueColor;
              margin: 20px 0 15px;
              
              @media (max-width: 635px) {
                font-size: 15px;
                line-height: 20px;
              }
            }

            .experience {
              color: $text-gray;
              font-size: 18px;
              line-height: 1.8;

              @media (max-width: 635px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

// #experiences {
//   position: relative;
//   transform: translateY(100%);
//   transition: transform 0.5s ease-out;
// }

// #experiences.visible {
//   transform: translateY(0);
// }

.slick-slider {
  width: 50%;
  margin: auto;
}