$primaryColor: #fd6e0a;
$blueColor: #15295f;
$text-gray: #6f6b80;
$border-color: #f2f2f2;
$white: #ffffff;
$red: #ff4e6e;
$yellow: #ffaf00;
$purple: #9c19c9;
$main-bg: #fdf8f7;
$arrow-bg: #ececec;
$blog-bg: #1f1d2b;
$progress-bar-bg: #cdcdcd;
$cyan: #4ac3ca;

body {
    font-family: "Poppins", sans-serif;
}

