@import '../../../app.component.scss';

.site-project-background {
  background-color: $blog-bg;
  color: $white;
  margin-top: 40px;

  .site-project-total {
    .site-project {
      padding: 65px 0 100px;
      .introduce {
        text-align: center;
        h2 {
          font-weight: 500;
          font-size: 22px;
          line-height: 1.5;
          color: $primaryColor;
        }

        p {
          color: $white;
          font-weight: 700;
          font-size: 30px;
          line-height: 1.5;
          text-transform: capitalize;
        }
      }

      .products {
        display: flex;
        padding-top: 40px;

        @media (max-width: 768px) {
          display: block;
        }

        .product-item {
          width: 100%;
          padding: 0 15px;
          text-align: center;

          &:hover img {
            transform: scale(1.3);
            transition: all 0.3s ease-out 0.3s;
          }

          @media (max-width: 768px) {
            margin-bottom: 100px;
          }

          .image-product {
            position: relative;
            box-sizing: border-box;
            a {
              overflow: hidden;
              display: flex;
              justify-content: center;
              width: 100%;

              img {
                display: block;
                transition: all 0.5s ease;
                height: 250px;
                width: auto;
              }
            }
            .date-doing-project {
              position: absolute;
              z-index: 2;
              top: 0;
              right: 0;
              padding: 10px;
              background-color: $blog-bg;
            }
          }

          .product-information {
            margin-top: 15px;
            h4 {
              padding: 5px;
              margin: 0;
              font-size: 18px;
              display: inline-block;
              color: $primaryColor;
            }

            p {
              font-weight: 500;
              font-size: 20px;
              line-height: 1.5;
              color: $white;
              transition: all 0.5s ease;
            }
          }
        }
      }
    }
  }
}
