<section id="site-projects" class="site-project-background">
  <div class="container m-auto flex justify-center site-project-total">
    <div class="site-project">
      <div class="introduce">
        <h2>My Site Projects</h2>
        <p>The topics of my project sites: e-commerce, portfolio.</p>
      </div>
      <div class="products">
        <div class="product-item">
          <div class="text-center image-product">
            <a href="#">
              <img
                src="../../../../assets/images/Vy-e-commerce.png"
                alt="my-site-project-about-e-commerce"
                class="w-auto h-48"
              />
            </a>
            <div class="date-doing-project">April 2023</div>
          </div>

          <div class="product-information">
            <h4>E-Commerce</h4>
            <p>Introduce and trade products</p>
          </div>
        </div>

        <div class="product-item">
          <div class="text-center image-product">
            <a href="#">
              <img
                src="../../../../assets/images/Vy-portfolio.png"
                alt="my-site-project-about-e-commerce"
                class="w-auto h-48"
              />
            </a>
            <div class="date-doing-project">May 2023</div>
          </div>

          <div class="product-information">
            <h4>Portfolio</h4>
            <p>Introduce myself</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
