<section id="site-projects" class="site-project-background">
  <div class="container m-auto flex justify-center site-project-total">
    <div class="site-project">
      <div class="introduce">
        <h2>My Site Projects</h2>
        <p>The topics of my project sites: e-commerce, portfolio.</p>
      </div>
      <div class="products">
        <div class="product-item">
          <div class="text-center image-product">
            <a href="#">
              <img
                src="../../../../assets/images/siteProject-e-commerce.png.png"
                alt="my-site-project-about-e-commerce"
                class="w-auto h-48"
              />
            </a>
            <div class="date-doing-project">April 2023</div>
          </div>

          <div>
            E-Commerce
          </div>
        </div>

        <div class="product-item">
          <div>
            <img
              src="../../../../assets/images/siteProject-e-commerce.png.png"
              alt="my-site-project-about-e-commerce"
              class="w-auto h-48"
            />
          </div>
          <div>April 2023</div>
          <div>
            E-Commerce
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
