<div class="container m-auto flex justify-center">
  <div class="services-total">
    <div class="services">
      <div class="show-information">
        <div class="services-icon-parent">
          <fa-icon [icon]="faLaptopCode" class="services-icon"></fa-icon>
        </div>
        <div class="information">
          <h3 class="title">2 years +</h3>
          <span class="sub_title">Experiences</span>
        </div>
      </div>

      <div
        class="show-information scrollToSiteProject"
        href="#site-projects"
        (click)="scrollTo('site-projects')"
      >
        <div class="services-icon-parent">
          <fa-icon [icon]="faClipboard" class="services-icon"></fa-icon>
        </div>
        <div class="information">
          <h3 class="title">2 site projects</h3>
          <span class="sub_title">Nearing completion</span>
        </div>
      </div>
    </div>
  </div>
</div>
