@import '../../../app.component.scss';

.introduce-total {
  width: 100%;
  padding: 6rem 4rem;

  @media (max-width: 768px) {
    padding: 0;
    padding-top: 1rem !important;
  }

  .introduce {
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1024px) {
      display: block;
    }

    .introduce-information {
      .introduce-hi {
        color: $primaryColor;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        white-space: nowrap; 
        overflow: hidden; 
        animation: typingHi 1s steps(40, end);

        @keyframes typingHi {
          from { width: 0 }
          to { width: 100% }
        }
      }

      .introduce-name {
        color: $blueColor;
        font-size: 45px;
        font-weight: 700;
        line-height: 1.5;
        margin: 10px 0;
        width: fit-content;
        white-space: nowrap; 
        overflow: hidden; 
        opacity: 0;
        animation: typingName 2.5s steps(40, end);
        animation-delay: 1s;
        animation-fill-mode: forwards;

        @keyframes typingName {
          from { width: 0; }
          to { width: 100%; opacity: 1; }
        }

        @media (max-width: 1024px) {
          font-size: 30px;
        }

        @media (max-width: 376px) {
          font-size: 24px;
        }
      }

      .introduce-title {
        color: $blueColor;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: capitalize;
        white-space: nowrap; 
        overflow: hidden; 
        opacity: 0; 
        animation: typingTitle 2.5s steps(40, end);
        animation-delay: 3.5s;
        animation-fill-mode: forwards;

        @keyframes typingTitle {
          from { width: 0; }
          to { width: 100%; opacity: 1; }
        }

        @media (max-width: 376px) {
          font-size: 18px;
        }
      }

      .introduce-summary {
        margin: 20px 0 20px;
        font-size: 14px;
        line-height: 1.2; 

        p {
          color: $text-gray;
          white-space: nowrap; 
          overflow: hidden; 
          opacity: 0; 
  
           &:nth-child(1){
            animation: typingSummary1 2.5s steps(40, end);
            animation-delay: 5s;
            animation-fill-mode: forwards;
    
            @keyframes typingSummary1 {
              from { width: 0; height: 17px; }
              to { width: 100%; opacity: 1; height: auto;}
            }

            @media (max-width: 1024px) {
              white-space: normal;  
            }
          }
          &:nth-child(2){
            animation: typingSummary2 2.5s steps(40, end);
            animation-delay: 7s;
            animation-fill-mode: forwards;
    
            @keyframes typingSummary2 {
              from { width: 0; height: 17px; }
              to { width: 100%; opacity: 1;height: auto;}
            }

            @media (max-width: 1024px) {
              white-space: normal;   
            }
          }
          &:nth-child(3){
            animation: typingSummary3 2.5s steps(40, end);
            animation-delay: 9s;
            animation-fill-mode: forwards;
    
            @keyframes typingSummary3 {
              from { width: 0; height: 17px; }
              to { width: 100%; opacity: 1;height: auto; }
            }

            @media (max-width: 1024px) {
              white-space: normal;  
            }
          }
        }
      }
       

      .introduce-button-download {
        padding: 10px 30px;
        cursor: pointer;
        background-color: $primaryColor;
        color: $white;
        border: 2px solid transparent;
        border-radius: 50px;
        transition: all 0.5s ease;
        white-space: nowrap; 
        overflow: hidden; 
        opacity: 0; 
        animation: typingButtonDownload 2s steps(40, end);
        animation-delay: 12s;
        animation-fill-mode: forwards;

        @keyframes typingButtonDownload {
          from { width: 0; }
          to { width: 100%; opacity: 1; }
        }

        &:hover {
          background-color: $white;
          color: $primaryColor;
          border: 2px solid $primaryColor;
        }
      }

      .introduce-button-contact {
        padding: 10px 30px;
        cursor: pointer;
        background-color: $white;
        color: $primaryColor;
        border: 2px solid $primaryColor;
        border-radius: 50px;
        transition: all 0.5s ease;
        white-space: nowrap; 
        overflow: hidden; 
        opacity: 0; 
        animation: typingButtonContact 2s steps(40, end);
        animation-delay: 13s;
        animation-fill-mode: forwards;

        @keyframes typingButtonContact {
          from { width: 113px; }
          to { width: fit-content ; opacity: 1; }
        }

        &:hover {
          background-color: $primaryColor;
          color: $white;
          border: 2px solid transparent;
        }
      }

      .example-button-row {
        @media (max-width: 365px) {
          display: inline-grid;
        }

        a {
          margin-right: 8px;

          @media (max-width: 365px) {
            margin-bottom: 1rem;
            text-align: center;
            margin-right: 0;
          }
        }

        @media (max-width: 365px) {
          margin-top: 0;
        }
      }

      .example-disabled {
        display: inline-block;
      }
    }

    .introduce-image {
      width: 510px;
      height: auto;

      @media (max-width: 1024px) {
        padding-top: 3rem;
      }
    }
  }
}
