<section
  id="about-me"
  class="container m-auto flex justify-around introduce-total"
>
  <mat-grid-list cols="2" rowHeight="1:1" class="flex introduce">
    <mat-grid-tile>
      <div class="introduce-information">
        <div class="introduce-hi">Hi, I'm</div>
        <h1 class="introduce-name">LUU THANH THAO VY</h1>
        <h3 class="introduce-title">Frontend Developer</h3>
        <div class="introduce-summary">
          <p>
            I have experience working as a front-end developer, especially in
            UI/UX.
          </p>
          <p>
            Able to learn and quickly adapt to new technology.
          </p>
          <p>
            Possess analytical, problem-solving, time-management, team-working,
            and communication.
          </p>
        </div>
        <div class="mt-8 example-button-row">
          <a
            href="../../../../assets/files/Luu-Thanh-Thao-Vy_CV.pdf"
            mat-raised-button
            color="primary"
            class="introduce-button-download"
            download="Luu-Thanh-Thao-Vy-CV"
          >
            Download CV
          </a>
          <button
            href="#contact"
            mat-raised-button
            (click)="scrollTo('contact')"
            color="primary"
            class="introduce-button-contact"
          >
            Contact
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="flex justify-center">
        <img
          src="../../../../assets/images/vy.png"
          alt="myImage"
          class="introduce-image"
        />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
