<section
  id="about-me"
  class="container m-auto flex justify-around introduce-total"
>
  <mat-grid-list cols="2" rowHeight="1:1" class="flex introduce">
    <mat-grid-tile>
      <div class="introduce-information">
        <div class="introduce-hi">Hi, I'm</div>
        <h1 class="introduce-name">LUU THANH THAO VY</h1>
        <h3 class="introduce-title">Frontend Developer</h3>
        <div class="introduce-summary">
          <p>
            2+ years of experience in Software Development as a software
            developer.
          </p>
          <p>
            Proficient in building website layouts on many different browsers
            and devices.
          </p>
          <p>Willing to learn new things, and high responsibility at work.</p>
          <p>Strong in communication with team members.</p>
        </div>
        <div class="mt-8 example-button-row">
          <a
            href="https://drive.google.com/file/d/1PdkAz9RDnMEIqljcYshjA5SHcUzaEA9W/view?usp=drive_link"
            mat-raised-button
            color="primary"
            class="introduce-button-download"
            download="Luu-Thanh-Thao-Vy-CV"
          >
            My CV
          </a>
          <button
            href="#contact"
            mat-raised-button
            (click)="scrollTo('contact')"
            color="primary"
            class="introduce-button-contact"
          >
            Contact
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="flex justify-center">
        <img
          src="../../../../assets/images/vy.png"
          alt="myImage"
          class="introduce-image"
        />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
