<div class="container m-auto w-fit py-24 flex justify-around introduce-total">
  <mat-grid-list cols="2" rowHeight="1:1" class="flex introduce">
    <mat-grid-tile>
      <div class="introduce-information">
        <div class="introduce-hi">Hi, I'm</div>
        <h1 class="introduce-name">LUU THANH THAO VY</h1>
        <h3 class="introduce-title">Frontend Developer</h3>
        <p class="introduce-summary">
          I have experience working as a front-end developer, especially in
          UI/UX.
          <br />
          Able to learn and quickly adapt to new technology.
          <br />
          Possess analytical, problem-solving, time-management, team-working,
          and communication.
        </p>
        <div class="mt-12 example-button-row">
          <a
            href="../../../../assets/files/cv.pdf"
            mat-raised-button
            color="primary"
            class="introduce-button-download"
            download="Luu-Thanh-Thao-Vy-CV"
          >
            Download CV
          </a>
          <a mat-raised-button color="primary" class="introduce-button-contact">
            Contact
          </a>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="../../../../assets/images//vy.png" alt="" />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
