@import '../../../app.component.scss';

.contact-total {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 70px 0;

  .contact {
    display: flex;

    @media (max-width: 768px) {
      display: block;
    }

    .contact-information {
      text-align: left;
      width: 50%;
      margin-left: 60px;

      @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        padding: 0 50px;
      }

      h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 39px;
        text-transform: capitalize;
        color: $blueColor;
      }

      p {
        padding: 15px 0 25px;
        color: $text-gray;
        font-size: 16px;
        line-height: 1.8;
      }
    }

    .form-contact {
      width: 50%;
      display: block;
      align-items: center;
      text-align: center;

      @media (max-width: 768px) {
        width: 100%;
        padding: 0 50px;
      }

      .input-form {
        width: 85%;
        @media (max-width: 768px) {
          width: 100%;
        }

        ::ng-deep .mat-mdc-text-field-wrapper {
          outline: none !important;

          &:focus-within {
            .mdc-notched-outline__leading {
              border-color: $primaryColor;
            }

            .mdc-notched-outline__notch {
              border-color: $primaryColor;
              border-right: 0 !important;

              label {
                color: $primaryColor !important;
              }
            }

            .mdc-notched-outline__trailing {
              border-color: $primaryColor;
            }

            .color-icon {
              color: $primaryColor;
            }
          }

          &:hover {
            .mdc-notched-outline__leading {
              border-color: $primaryColor;
            }

            .mdc-notched-outline__notch {
              border-color: $primaryColor;
            }

            .mdc-notched-outline__trailing {
              border-color: $primaryColor;
            }

            .color-icon {
              color: $primaryColor;
            }
          }

          .mdc-text-field__input {
            caret-color: $primaryColor !important;
          }
        }
      }

      .send-message {
        padding: 10px 30px;
        cursor: pointer;
        background-color: $primaryColor;
        color: $white;
        border: 2px solid transparent;
        border-radius: 50px;
        transition: all 0.5s ease;

        &:hover {
          background-color: $white;
          color: $primaryColor;
          border: 2px solid $primaryColor;
        }
      }
    }
  }
}
