<div class="container m-auto flex justify-around">
  <div class="contact-total">
    <div class="contact">
      <div class="contact-information">
        <h2>Let's Connect</h2>
        <p>
          Please fill out the form on this section to contact with me. Or call
          between 9:00 a.m. and 6:00 p.m., Monday through Friday.
        </p>
      </div>

      <div class="form-contact">
        <p>
          <mat-form-field appearance="outline" class="input-form">
            <mat-label>Your Name</mat-label>
            <input matInput placeholder="Your Name" />
            <mat-icon matSuffix class="color-icon">
              sentiment_very_satisfied
            </mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="input-form">
            <mat-label>Your Email</mat-label>
            <input matInput placeholder="Your Email" />
            <mat-icon matSuffix class="color-icon">
              sentiment_very_satisfied
            </mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="input-form">
            <mat-label>Your Subject</mat-label>
            <input matInput placeholder="Your Subject" />
            <mat-icon matSuffix class="color-icon">
              sentiment_very_satisfied
            </mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="input-form">
            <mat-label>Your message (optional)</mat-label>
            <textarea
              matInput
              placeholder="Your message (optional)"
              style="height: 200px;"
            ></textarea>
          </mat-form-field>
        </p>

        <div>
          <a mat-raised-button color="primary" class="send-message">
            Send Message
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
