<section id="contact" class="container m-auto flex justify-around">
  <div class="contact-total">
    <div class="contact">
      <div class="contact-information">
        <h2>Let's Connect</h2>
        <p>
          Please fill out the form on this section to contact with me. Or call
          between 9:00 a.m. and 6:00 p.m., Monday through Friday.
        </p>
      </div>

      <form
        id="form-contact"
        class="form-contact"
        (submit)="
          [
            sendEmail($event),
            createBasicNotification(template),
            scrollTo('about-me'),
          ]
        "
      >
        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Your Name</mat-label>
          <input
            matInput
            placeholder="Your Name"
            type="text"
            name="name"
            required
            #textInput
          />
          <mat-icon matSuffix class="color-icon">
            sentiment_very_satisfied
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Your Email</mat-label>
          <input
            matInput
            placeholder="Your Email"
            type="email"
            name="email"
            required
            #textInput
          />
          <mat-icon matSuffix class="color-icon">
            sentiment_very_satisfied
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Your Subject</mat-label>
          <input
            matInput
            placeholder="Your Subject"
            type="text"
            name="subject"
            required
            #textInput
          />
          <mat-icon matSuffix class="color-icon">
            sentiment_very_satisfied
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Your message</mat-label>
          <textarea
            matInput
            placeholder="Your message"
            style="height: 200px;"
            type="text"
            name="message"
            required
            #textInput
          ></textarea>
        </mat-form-field>

        <ng-template #template>
          <div class="ant-notification-notice-content">
            <div class="ant-notification-notice-with-icon">
              <div class="ant-notification-notice-message">
                Thanks for your interest.
              </div>
              <div class="ant-notification-notice-description">
                I appreciate your connection. I will reply as soon as I can.
              </div>
            </div>
          </div>
        </ng-template>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="send-message"
        >
          Send message to me
        </button>
      </form>
    </div>
  </div>
</section>
